body {
	background: #000000;
	max-width: 720px;
	padding: 5px;
	margin: 0 auto;
	color: #ebe4cc;
}

h1 h2 h3 h4 p {
	line-height: 5.0;
	margin: 5px;
}

details {
	padding: 5px;
}


a {
	color: #ebe4cc;
	font-size: 1.0em;
	line-height: 20px;
}

a:hover {
	color: green;
}

pre {
	font-family: Monaco, monospace;
	padding: 5px;
	font-size: 16px;
	background-color: black;
	overflow-x: scroll;
}

code {
	font-family: Monaco, monospace;
	padding: 5px;
	line-height: 1.6;
	font-size: 16px;
	border-radius: 16px;
	background-color: black;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table td {
	border-color: #F79E24;
	border-style: dashed;
	border-width: 6.5px;

	overflow: hidden;
	padding: 25px 25px;
	word-break: normal;
}

table th {
	border-color: #097969;
	border-style: dashed;
	border-width: 6.5px;

	text-align: left;
	vertical-align: top;
}

tr:nth-child(even) {
    background-color: #2A4038;
}

tr:nth-child(odd) {
    background-color: #172621;
}

audio::-webkit-media-controls-panel {
  background-color: #5A8A5C;
}

audio::-webkit-media-controls-play-button {
  background-color: #3C654D;
  border-radius: 70%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: #84B066;
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}
